<footer class="footer">

<nav class="navbar navbar-expand-sm sticky-bottom">
    <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('app_faq') }}" title="{{ 'footer.faq.title'|trans }}">{{ 'footer.faq.name'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_qui') }}" title="{{ 'footer.qui.title'|trans }}">{{ 'footer.qui.name'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_contact') }}" title="{{ 'footer.contact.title'|trans }}">{{ 'footer.contact.name'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_mentions') }}" title="{{ 'footer.mentions.title'|trans }}"> {{ 'footer.mentions.name'|trans }}</a>
        </li>
    </ul>
</div>
</nav>

</footer>