<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Women only{% endblock %}</title>
		<!-- pour que รงa fonctionne sur tous les appareils mobiles-->
		<meta name="viewport" content="width=device-width"/>

        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
			<link rel="stylesheet" href="{{ asset('css/tempusdominus-bootstrap-4.css') }}">
        {% endblock %}
    </head>
    <body>
    	{% include '_partial/header.html.twig' %}

		<div class="container main-container">
			{% block body %}{% endblock %}
		</div>

    	{% include '_partial/footer.html.twig' %}

        {% block javascripts %}
			<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
			<script src="{{ asset('js/popper.min.js') }}"></script>
			<script src="{{ asset('js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('js/moment.js') }}"></script>
			<!-- Pour ajouter la date et l'heure-->
			<script src="{{ asset('js/tempusdominus-bootstrap-4.js') }}"></script>  
			<script src="{{ asset('js/parsley.min.js') }}"></script>
			<script src="{{ asset('js/i18n/fr.js') }}"></script>
			<script src="{{ asset('js/inscription.js') }}"></script>
        {% endblock %}
    </body>
</html>
