{# templates/comment.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Women only{% endblock %}

{% block body %}
<div class="card mb-3">
      <img src="{{ asset('images/comment.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="HomeBlock-content HomeBlock-content--even">
            <h5 class="card-title text-center ">{{ 'comment.title'|trans }}</h5>
            <p class="u-marginNone u-space-4">
                <p class="card-text text-center "> {{ 'comment.descriptionLine1'|trans }}
                    <br/><strong>Etape 1</strong>: {{ 'comment.descriptionLine2'|trans }}
                    <br/><strong>Etape 2</strong>: {{ 'comment.descriptionLine3'|trans }}
                    <br/><strong>Etape 3</strong>: {{ 'comment.descriptionLine4'|trans }}
                </p>
                <div class="col-md-12 text-center">
                    {% if app.user == null %}
                    <button type="button" class="btn btn-info">Je créer mon compte</button>
                    {% endif %}
                </div>
            </div>
    </div>

</div>

{% endblock %}
