{# templates/rechercher.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Women only{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12">

        <div class="card">

            <img src="{{ asset('images/rechercher.jpg') }}" class="card-img-top" alt="...">

            <h5 class="card-header">
                Pour trouvez une annonce, veuillez remplir le formulaire.
            </h5>

            <div class="card-body">

                <!-- Génére le formulaire -->
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="list-group">
            <!-- Instruction de boucle pour les templates -->
            {% for item in annonces %}
            <!-- Code Bootsstrap pour mettre visualiser les annonces -->
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ item.startplace }} - {{ item.placearrived }}</h5>
                    <small>{{ item.startdate|date('d/m/y H:m') }} - {{ item.arrivalDate|date('d/m/y H:m') }}</small>
                </div>
                <p class="mb-1"> {{ item.title }}</p>
                <small> {{ item.description }}</small>
            </a>
            {% endfor %}
        </div>
    </div>


</div>

{% endblock %}